.contact-info{
  background-color: rgb(20, 18, 17);
  min-height: 82.9vh;
  display: grid;
  grid-template-columns: repeat(
      auto-fit,
      minmax(
          18rem,
          2fr
      )
  );
  grid-auto-rows:auto;
  gap: 3rem;  
  padding: 15em 5em 0 5em;
}

.ext-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 200px;
  color: rgb(27, 18, 11);
  background-color: #a57a50;
  border-radius: 50px 5px 0 5px;
  box-shadow: rgb(204, 204, 204) 3px 3px 0px, rgb(204, 204, 204) 3px 3px 0px;
  cursor: pointer;
}

.card-icon{
  font-size: 35px;
  background-color: rgb(20, 18, 17);
  color: rgb(196, 156, 116);
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 105px;
  border-radius: 50%;
  transition: 250ms linear;
}

.ext-link p{
  font-size: 18px;
  margin-top: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  opacity: 0;
  min-height: 0;
  transition: 250ms linear;
}

.ext-link:hover .card-icon{
  color: rgb(27, 18, 11);
  background-color: rgb(165, 122, 80);
  transform: scale(1.5);
}

.ext-link:hover p{
  max-height: 40px;
  opacity: 1;
}

@media screen and (max-width: 1120px) {
  .contact-info{
    min-height: 82.8vh;
    padding: 0 2em 0 2em;
  }

  .ext-link{
    width: 100%;
    margin: 10px 0;
    
  }

  .ext-link:hover .card-icon{
    transform: 0;
  }
  
}

@media screen and (max-width: 768px){
  .contact-info{
    padding: 10rem 0 4em 0;
    max-width: 100%;
    gap: 3rem;

  }
}

@media screen and (max-width: 560px) {
  .ext-link p{
    opacity: 1;
  }
  .ext-link:hover .card-icon{
    transform: 0;
  }
}

@media screen and (max-width: 425px) {
  .ext-link{
    max-width: 350px;
  }
  .contact-info{
    grid-template-columns: auto;
    justify-items: center;
  }
}